# Javascript Node CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

jobs:
  test:
    docker:
      # specify the version you desire here
      - image: circleci/node:12

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn lint:ci

      - store_test_results:
          path: reports

      # run tests!
      - run: yarn test:coverage --ci
      - run: yarn test:unit --ci
      - run: yarn test:integration --ci

      - store_artifacts:
          path: coverage
      - store_artifacts:
          path: coverage-unit
      - store_artifacts:
          path: coverage-integration

      - codecov/upload:
          file: coverage/*.json
          flags: backend
      - codecov/upload:
          file: coverage-unit/*.json
          flags: backend-unit
      - codecov/upload:
          file: coverage-integration/*.json
          flags: backend-integration

workflows:
  version: 2.1
  test: # name this as you want
    jobs:
      - test
